<pro-header></pro-header>
<nz-card>
    <!-- <nz-sf layout="inline" [schema]="searchSchema" [actions]="searchActions" (onChange)="params.search=$event.value">
    </nz-sf> -->
    <form nz-form [nzLayout]="'horizontal'">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="1" class="text-right">
                <label>日期</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="4">
                <nz-datepicker [(ngModel)]="date" (ngModelChange)="loadData(true)" name="date" [nzPlaceHolder]="'请选择日期'"></nz-datepicker>
            </div>
        </div>
    </form>
    <!-- <button nz-button [nzType]="'dashed'" (click)="showMenuManageModal('C')" class="ant-btn__block mt-md">
        <i class="anticon anticon-plus"></i>
        <span>新建订单</span>
    </button> -->
    <nz-table #nzTable [nzAjaxData]="dataSet" [nzPageSize]="_pageSize" [nzTotal]="_total" [(nzPageIndex)]="_current" (nzPageIndexChange)="loadData()"
        [nzLoading]="http.loading" [nzShowTotal]="true">
        <thead nz-thead>
            <tr>
                <th nz-th class="text-center">
                    <span>订单号</span>
                </th>
                <th nz-th class="text-center">
                    <span>下单人</span>
                </th>
                <th nz-th class="text-center">
                    <span>订单内容</span>
                </th>
                <th nz-th class="text-center">
                    <span>备注</span>
                </th>
                <th nz-th class="text-center">
                    <span>创建时间</span>
                </th>
                <th nz-th class="text-center">
                    <span>更新时间</span>
                </th>
                <!-- <th nz-th class="text-center">
                    <span>操作</span>
                </th> -->
            </tr>
        </thead>
        <tbody nz-tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr nz-tbody-tr class="text-center">
                    <td>
                        <span>{{data.id}}</span>
                    </td>
                    <td>
                        <span>{{data.menus[0].user_name}}</span>
                    </td>
                    <td>
                        <div *ngFor="let menu of data.menus;last as isLast">{{menu.menu_name}}x{{menu.menu_quantity}}</div>
                    </td>
                    <td nz-td>
                        <span>{{data.remark}}</span>
                    </td>
                    <td nz-td>
                        <span>{{data.created_at}}</span>
                    </td>
                    <td nz-td>
                        <span>{{data.updated_at}}</span>
                    </td>
                    <!-- <td nz-td>
                        <span>
                            <a (click)="showMenuManageModal('U', data)">编辑</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="delete(data.id)" [nzTitle]="'是否要删除此行？'">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </span>
                    </td> -->
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</nz-card>