<pro-header></pro-header>
<nz-card>
    <button nz-button [nzType]="'dashed'" (click)="showBannerManageModal('C')" class="ant-btn__block mt-md">
        <i class="anticon anticon-plus"></i>
        <span>新增Banner</span>
    </button>
    <nz-table #nzTable [nzAjaxData]="dataSet" [nzPageSize]="_pageSize" [nzTotal]="_total" [(nzPageIndex)]="_current" (nzPageIndexChange)="loadData()"
        [nzLoading]="http.loading">
        <thead nz-thead>
            <tr>
                <th nz-th class="text-center">
                    <span>缩略图</span>
                </th>
                <th nz-th class="text-center">
                    <span>序号</span>
                </th>
                <th nz-th class="text-center">
                    <span>跳转地址</span>
                </th>
                <th nz-th class="text-center">
                    <span>生效时间</span>
                </th>
                <th nz-th class="text-center">
                    <span>失效时间</span>
                </th>
                <th nz-th class="text-center">
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr nz-tbody-tr class="text-center">
                    <td nz-td>
                        <img [src]="data.cover_url+'?imageView2/0/w/100/h/100'" alt="" (click)="open(data.cover_url)">
                    </td>
                    <td nz-td>
                        <span>{{data.sort}}</span>
                    </td>
                    <td nz-td>
                        <a [href]="data.target_url">{{data.target_url}}</a>
                    </td>
                    <td nz-td>
                        <span>{{data.start_at}}</span>
                    </td>
                    <td nz-td>
                        <span>{{data.end_at}}</span>
                    </td>
                    <td nz-td>
                        <span>
                            <a (click)="showBannerManageModal('U',data)">编辑</a>
                            <span nz-table-divider></span>
                            <nz-popconfirm (nzOnConfirm)="delete(data.id)" [nzTitle]="'是否要删除此行？'" *ngIf="editRow!==data.id">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</nz-card>